<head>
    <link rel="stylesheet" href="/main.css">
</head>

<div class="Main-stuff">
    <p> {{name}}</p>

    <img src={{image}} alt={{image}}>

    <a class="quizLink" href="../survey.html">
        <h5>Take the Quiz Again!</h5>
    </a>
    <a class="quizLink" href="../index.html">
        <h5>Go back to the home page</h5>
    </a>

</div>